.coffee_grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}

.home {
    padding: 32px;
    background-color: var(--background);
}

input {padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 25px;
    text-align: center;


}