.welcome {
    background-color: black;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;

    h2 {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        font-size: 45px;
        font-weight: 600;
        background-color: black;
        padding-bottom: 40px;
        font-family: Sora;
    }

    p {
        font-family: Sora;
        font-weight: 400;
        font-size:35px;
        text-align: center;
        color: gray;
        background-color: black;
        padding-bottom: 40px;


    }

    button {border: none;
        width: 100%;
        background-color: #C67C4E;
        margin: 0 auto;
        border-radius: 16px;
        padding: 20px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-weight: 600;
        color: white;
       

    }

    img {
        width: 100%;
        max-height:70dvh;
        object-fit: cover;
        object-position: bottom;
    }
}