.detail{
  h1{
 font-family: Sora;
font-weight: 600;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
 padding-top: 15px;
  padding-bottom: 5px;

}
h5{
font-family: Sora;
font-weight: 400;
color: #A2A2A2;
font-size: 12px;
line-height: 120%;
letter-spacing: 0%;
  padding-bottom: 5px;

}
h4{display: flex;
  align-items: center;
gap: 5px;
 font-family: Sora;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}
p{
    font-family: Sora;
font-weight: 300;
font-style: Light;
font-size: 14px;
color: gray;
line-height: 150%;
letter-spacing: 0%;
  padding-bottom: 15px;

}
h3{
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
}
h6{border: 1px solid #E3E3E3;
  border-radius: 12px;
font-family: Sora;
font-weight: 400;
font-size: 14px;
line-height: 150%;
text-align: center;

}
img{
  width: 100%;
  padding: 20px;
  border-radius: 15px;
}

}