* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora";
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    gap: 40px;
    color: black;

}

:root {
   
    --himnakan: #C67C4E;
    --background: #F9F9F9;
}